<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>年始残高登録編集</title>
</head>
<body>
    <div class="header">
        <h1 class="tool-title">年始残高登録の編集</h1>
    </div>
    <div class="main">
        <div class="add-form">
            <form th:method="put" action="/put/beginning" th:object="${formEditBeginning}">
                <!-- ↑{id}はURLのid部分を取得したい(GetMappingからidを取得して入れられそう多分) -->
                    <p>数量と金額を編集してください！</p>
                    <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Errors</p>
                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Errors</p>
                    <input th:field="*{id}" value="formEditBeginning.id" type="hidden" />
                    <input th:field="*{recordId}" value="formEditBeginning.recordId" type="hidden" />
                    <label for="amount">数量(BTC)</label>
                    <input th:field="*{amount}" id="amount" name="amount" value="${formEditBeginning.amount}" type="text" />
                    <label for="price">金額(¥)</label>
                    <input th:field="*{price}" id="price" name="price" value="${formEditBeginning.price}" type="text" />
                    <input type="submit" value="更新">
            </form>
        </div>
    </div>
    <div class="footer-contents">   <!-- レコードページに戻る -->
        <a th:href="@{/record/{id}(id=${formEditBeginning.recordId})}">
            <input type="submit" value="戻る">
        </a>
    </div>
</body>
</html>