<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>売却登録編集</title>
</head>
<body>
    <div class="header">
        <h1 class="tool-title">売却登録の編集</h1>
    </div>
    <div class="main">
        <div class="add-form">
<!--            <div th:if="${#lists.size(formEditSelling)} > 0">-->
            <form th:method="put" action="/put/selling" th:object="${formEditSelling}">
                    <p>数量と金額を編集してください！</p>
                    <input th:field="*{id}" value="formEditSelling.id" type="hidden" />
                    <input th:field="*{recordId}" value="formEditSelling.recordId" type="hidden" />
                    <label for="amount">数量(BTC)</label>
                    <input th:field="*{amount}" id="amount" name="amount" value="${formEditSelling.amount}" type="text" />
                    <label for="price">金額(¥)</label>
                    <input th:field="*{price}" id="price" name="price" value="${formEditSelling.price}" type="text" />
<!--                    <input th:field="*{createdDate}" value="${formEditSelling.createdDate}" type="hidden" />-->
                    <input type="submit" value="更新">
            </form>
<!--            </div>-->
        </div>
    </div>
    <div class="footer-contents">   <!-- レコードページに戻る -->
        <a th:href="@{/record/{id}(id=${formEditSelling.recordId})}">
            <input type="submit" value="戻る">
        </a>
    </div>
</body>
</html>